/* TEMPERATURE CONVERTER */

body {
    font-family: Arial, sans-serif;
    background-color: lightgray;
}

h1 {
    color: green;
}

form {
    background-color: white;
    text-align: center;
    max-width: 350px;;
    margin: auto;
    padding:25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px;
}

#textBox {
    width:50%;
    text-align: center;
    font-size: 2em;
    border: 3px solid black;
    border-radius: 5px;
    margin-bottom: 15px;
}
label {
    font-size: 1.5em;
    font-weight: bold;
}

button {
    margin-top: 20px;
    background-color: green;
    font-size: 1.5em;
    border:none;
    padding:10px 15px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
button:hover {
    background-color: rgb(96, 156, 5);
}
#result {
    font-size: 1.75em;
    font-weight: bold;
}